$linear-background: linear-gradient(to bottom, #9c9c9c 0%, #dcdcdc 10%);
$default-text-color: #000000;

@keyframes textfadein {
  0% { color: rgba(0,0,0,0.0) }
  100% { color: $default-text-color }
}

button, h1, h2, h3, label{
  font-family: monospace;}

@media (orientation: portrait){
  .pkss-compatibility-overlay{
    position: absolute;
    display: flex;
    justify-content: center; align-items: center;
    left: 0px; top: 0px; z-index: 12;
    background: $linear-background;
    width: 100vw; height: 100vh;

    .pkss-not-landscape{
      animation: textfadein 2s;
      font-weight: bold;
      text-align: center;
      font-size: 2em;
    }

		.pkss-not-supported{
      display: none;
    }
  }
}

.pk-splash-screen{
	position: absolute;
	display: flex;
	align-items: center;
	flex-direction: column;
	top: 0vh; left: 0vw;	z-index: 8;
	width: 100vw; height: 100vh;
	overflow-y: scroll;
}
