<!DOCTYPE html>
<html>
<head>
	<title>Poker Tower</title>
	<link rel="stylesheet" href="/css/poker_style.css">
	<link rel="stylesheet" href="/css/poker_splash_screen.css">
</head>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->
<body>
	{{{body}}}
</body>
</html>
