<canvas id="poker-canvas"></canvas>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="lib/require.js"></script>
<script src="poker-main.js"></script>

<div class="pkss-compatibility-overlay">
  <label class="pkss-not-supported">Sorry! Your device is not yet Supported =[</label>
  <label class="pkss-not-landscape">Display width too Narrow!<br>Try turning your device <br> or increasing the width!</label>
</div>

<div class="pk-splash-screen" id="pk-splash-screen">

  <h1 class="pkss-game-title">Poker Tower</h1>

  <div class="pkss-gen-top">

    <div class="pkss-player-profile-settings-cntr">
      <div class="pkss-player-current-profile-cntr">
        <h3 class="pkss-current-profile-label">Current Player Profile</h3>
        <img id="pkss-current-profile-icon" src="./assets/player_icons/0.jpg"></img>
        <span class="pkss-current-profile-stat-ctnr">
          <label id="pkss-current-profile-name">Anonymous</label>
          <label id="pkss-current-profile-wealth">$Wealth</label>
        </span>
      </div>

      <button id="pkss-change-profile-settings-button" class="pkss-change-profile-settings-button" type="button">Change Profile Settings</button>
    </div>

    <form id="pkss-change-profile-settings-ctnr" class="pkss-change-profile-settings-ctnr pkss-change-profile-settings-ctnr-closed">
      <label>name:<input id="poker-splash-input-player-name" value=""></label>
      <div class="pkss-icon-sel-cntr">
        {{#each partials.pokerIcons}}
        <img class="pkss-icon-sel-img" src="./assets/player_icons/{{this}}"></img>
        {{/each}}
      </div>
    </form>

    <form class="pkss-register-table-form">
      <h3 class="pkss-table-header">Create a table</h3>
      <label>Table Name <input id="pkss-new-table-name" value=""></label>
      <label>Table Ante <input id="pkss-new-table-ante" value=""></label>
      <label>#Players (2-4) <input id="pkss-new-table-init-players" type="number" min="2" max="4"></label><label> Leave Blank for an open table </label>
      <button type="button" id="pkss-create-table-button">Click to Create Table</button>
    </form>

  </div>


  <div class="pkss-gen-bottom">
    <div id="pkss-player-leaderboard">
      <div class="pkss-player-leaderboard-element-header"><h3>Player Leader Board</h3></div>
    </div>
    <div id="pkss-current-tables-cntr">
      <div class="pkss-table-list-element-header"><h3>Current Poker Tables</h3></div>
      <!-- New Tables Generated Dynamically-->
    </div>
  </div>



</div>

<div class="pk-players-container-top" id="pk-players-container-top"></div>

<div class="pk-room-uuid-container">
  <label class="pk-room-uuid scalable-text" id="pk-room-uuid">Not in Room</label>
</div>

<div class="pk-room-pot-container">
  <label class="pk-room-pot scalable-text" id="pk-room-pot">0 ₪</label>
</div>

<div class="pk-players-container-bottom">
  <div class="pk-player-client" id="player0">
    <img class="pk-player-icon" id="pk-client-player-icon" src=""></img>
    <span class="pk-player-stat-container">
      <div class="pk-player-name-container">
        <label class="scalable-text pk-player-name" id="pk-client-player-name"></label>
      </div>
      <div class="pk-player-wealth-container">
        <label class="scalable-text pk-player-wealth" id="pk-client-player-wealth">0 ₪</label>
      </div>
    </span>
    <span class="pk-actions-container">
      <input id="pk-inputbox" class="pk-gui-bet-char-input"></input>
      <button class="pk-action" id="pk-call">CALL</botton>
      <button class="pk-action" id="pk-raise">RAISE</botton>
      <button class="pk-action" id="pk-fold">FOLD</botton>
      <button class="pk-action" id="pk-chat">CHAT</botton>
    </span>
  </div>
</div>

<div class="pk-error-bubble"></div>
