<canvas id="poker-canvas"></canvas>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="lib/require.js"></script>
<script src="poker-main.js"></script>

<div class="pkss-compatibility-overlay">
  <label class="pkss-not-supported">Sorry! Your device is not yet Supported =[</label>
  <label class="pkss-not-landscape">Display width too Narrow!<br>Try turning your device <br> or increasing the width!</label>
</div>

<div class="pk-splash-screen" id="poker-splash-screen">

  <h1 class="pkss-game-title">Poker Tower</h1>

  <div class="pkss-gen-top">

    <div class="pkss-player-profile-settings-cntr">
      <div class="pkss-player-current-profile-cntr">
        <h3 class="pkss-current-profile-label">Current Player Profile</h3>
        <img class="pkss-current-profile-icon" src="./assets/player_icons/0.jpg"></img>
        <span class="pkss-current-profile-stat-ctnr">
          <h3 id="pkss-current-profile-name">Name Namerous</h3>
          <h3 id="pkss-current-profile-wealth">$Wealth</h3>
        </span>
      </div>

      <button id="pkss-change-profile-settings-button" class="pkss-change-profile-settings-button" type="button">Change Profile Settings</button>
    </div>

    <form id="pkss-change-profile-settings-ctnr" class="pkss-change-profile-settings-ctnr pkss-change-profile-settings-ctnr-closed">
      <label>name:<input id="poker-splash-input-player-name" value=""></label>
      <div class="pkss-icon-sel-cntr">
        {{#each partials.pokerIcons}}
        <img class="pkss-icon-sel-img" src="./assets/player_icons/{{this}}"></img>
        {{/each}}
      </div>
    </form>

    <form class="pkss-register-table-form">
      <h3 class="pkss-table-header">Create a table</h3>
      <label>Table Name <input class="pkss-table-ante" id="pkss-table-ante" value=""></label>
      <label>Table Ante <input class="pkss-table-ante" id="pkss-table-ante" value=""></label>
      <label>#Players <input class="pkss-table-ante" id="pkss-table-ante" type="number"></label>
      <button type="button" id="poker-splash-screen-create-table-button">Click to Create Table</button>
    </form>

  </div>


  <div class="pk-splash-screen-gen-bottom">
    <div class="pk-splash-screen-gen-bottom">
      <form class="center-items poker-splash-screen-create-table">
      </form>
      <div class="pk-splash-screen-current-tables" id="poker-splash-screen-current-tables">
      </div>
    </div>

  </div>


</div>

<div class="pk-players-container-top" id="poker-players-container-top"></div>

<div class="pk-room-uuid-container">
  <label class="pk-room-uuid scalable-text" id="poker-room-uuid">Not in Room</label>
</div>

<div class="pk-room-pot-container">
  <label class="pk-room-pot scalable-text" id="poker-room-pot">0 ₪</label>
</div>

<div class="pk-players-container-bottom">
  <div class="pk-player-client" id="player0">
    <img class="pk-player-icon" src=""></img>
    <span class="pk-player-stat-container">
      <div class="pk-player-name-container">
        <label class="scalable-text poker-player-name"></label>
      </div>
      <div class="pk-player-wealth-container">
        <label class="scalable-text poker-player-wealth">0 ₪</label>
      </div>
    </span>
    <span class="pk-actions-container">
      <input id="poker-inputbox" class="pk-gui-bet-char-input"></input>
      <button class="pk-action" id="poker-call">CALL</botton>
      <button class="pk-action" id="poker-raise">RAISE</botton>
      <button class="pk-action" id="poker-fold">FOLD</botton>
      <button class="pk-action" id="poker-chat">CHAT</botton>
    </span>
  </div>
</div>
