@keyframes textfadein {
  0% {
    color: transparent; }
  100% {
    color: #000000; } }

button, h1, h2, h3, input, label {
  font-family: monospace;
  cursor: default; }

@media (orientation: portrait) {
  .pkss-compatibility-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    z-index: 12;
    background: linear-gradient(to bottom, #9c9c9c 0%, #dcdcdc 10%);
    width: 100vw;
    height: 100vh; }
    .pkss-compatibility-overlay .pkss-not-landscape {
      animation: textfadein 2s;
      font-weight: bold;
      text-align: center;
      font-size: 2em; }
    .pkss-compatibility-overlay .pkss-not-supported {
      display: none; } }

.pk-splash-screen {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 0vh;
  left: 0vw;
  z-index: 8;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #9c9c9c 0%, #dcdcdc 10%);
  overflow-y: scroll; }
  .pk-splash-screen .pkss-game-title {
    margin: 1%; }
  .pk-splash-screen .pkss-gen-top {
    display: flex;
    flex-direction: row;
    width: 800px; }
    .pk-splash-screen .pkss-gen-top .pkss-player-profile-settings-cntr {
      display: flex;
      flex-direction: column;
      flex: 1;
      border-radius: 5em 0% 0% 0%;
      background-color: rgba(0, 0, 0, 0.1); }
      .pk-splash-screen .pkss-gen-top .pkss-player-profile-settings-cntr .pkss-player-current-profile-cntr {
        height: 170px; }
        .pk-splash-screen .pkss-gen-top .pkss-player-profile-settings-cntr .pkss-player-current-profile-cntr .pkss-current-profile-label {
          text-align: right;
          margin: 2% 5% 2% 2%; }
        .pk-splash-screen .pkss-gen-top .pkss-player-profile-settings-cntr .pkss-player-current-profile-cntr #pkss-current-profile-icon {
          width: 128px;
          height: 128px;
          border-radius: 50% 50% 50% 0%;
          box-shadow: 0 0 1em rgba(94, 94, 109, 0.5);
          margin: 0 0 0 3%; }
        .pk-splash-screen .pkss-gen-top .pkss-player-profile-settings-cntr .pkss-player-current-profile-cntr .pkss-current-profile-stat-ctnr {
          position: absolute;
          margin: 0 0 0 3%; }
          .pk-splash-screen .pkss-gen-top .pkss-player-profile-settings-cntr .pkss-player-current-profile-cntr .pkss-current-profile-stat-ctnr #pkss-current-profile-name, .pk-splash-screen .pkss-gen-top .pkss-player-profile-settings-cntr .pkss-player-current-profile-cntr .pkss-current-profile-stat-ctnr #pkss-current-profile-wealth {
            margin: 30px 0;
            text-align: right; }
      .pk-splash-screen .pkss-gen-top .pkss-player-profile-settings-cntr button {
        cursor: pointer;
        height: 35px; }
    .pk-splash-screen .pkss-gen-top .pkss-change-profile-settings-ctnr {
      left: 37vw;
      top: 250px;
      width: 288px;
      z-index: 64;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.2); }
      .pk-splash-screen .pkss-gen-top .pkss-change-profile-settings-ctnr .pkss-icon-sel-cntr {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap; }
        .pk-splash-screen .pkss-gen-top .pkss-change-profile-settings-ctnr .pkss-icon-sel-cntr .pkss-icon-sel-img {
          flex: 1;
          max-width: 96px;
          max-height: 96px;
          flex-grow: 1;
          flex-shrink: 1; }
    .pk-splash-screen .pkss-gen-top .pkss-change-profile-settings-ctnr-closed {
      display: none;
      height: 0vh; }
    .pk-splash-screen .pkss-gen-top .pkss-register-table-form {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: space-between;
      border-radius: 0% 5% 0% 0%;
      background-color: rgba(0, 0, 0, 0.1); }
      .pk-splash-screen .pkss-gen-top .pkss-register-table-form .pkss-table-header {
        text-align: left;
        margin: 2% 2% 2% 5%; }
      .pk-splash-screen .pkss-gen-top .pkss-register-table-form label {
        margin: 0% 0% 0% 5%;
        font-size: 1.1em; }
      .pk-splash-screen .pkss-gen-top .pkss-register-table-form input {
        box-shadow: inset 0 0 1em rgba(94, 94, 109, 0.5);
        background: rgba(0, 0, 0, 0.1);
        height: 20px; }
      .pk-splash-screen .pkss-gen-top .pkss-register-table-form button {
        cursor: pointer;
        height: 35px; }
  .pk-splash-screen .pkss-gen-bottom {
    display: flex;
    flex-direction: row;
    width: 800px;
    background: transparent; }
    .pk-splash-screen .pkss-gen-bottom h3 {
      text-align: center; }
    .pk-splash-screen .pkss-gen-bottom #pkss-player-leaderboard {
      flex: 1; }
      .pk-splash-screen .pkss-gen-bottom #pkss-player-leaderboard .pkss-player-leaderboard-element-header {
        background: rgba(94, 94, 109, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px; }
    .pk-splash-screen .pkss-gen-bottom #pkss-current-tables-cntr {
      flex: 1;
      border-radius: 0% 0% 5% 0%; }
      .pk-splash-screen .pkss-gen-bottom #pkss-current-tables-cntr .pkss-table-list-element-header {
        background: rgba(94, 94, 109, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px; }
      .pk-splash-screen .pkss-gen-bottom #pkss-current-tables-cntr .pkss-table-list-element {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 1em;
        box-shadow: 0px 0px 1px black;
        cursor: pointer; }
        .pk-splash-screen .pkss-gen-bottom #pkss-current-tables-cntr .pkss-table-list-element label {
          cursor: pointer;
          margin: 0 5px; }
      .pk-splash-screen .pkss-gen-bottom #pkss-current-tables-cntr .pkss-table-list-element:hover {
        box-shadow: 0px 0px 1em black;
        background: transparent;
        transition: box-shadow 0.5s, background 0.5s; }

@keyframes fadeout {
  0% {
    z-index: 64; }
  100% {
    opacity: 0.0;
    z-index: -1; } }

.error-bubble {
  position: absolute;
  z-index: 64;
  box-shadow: 0px 0px 1em black;
  border-radius: 1em;
  height: 25px;
  font-weight: bold;
  font-size: 0.9em;
  justify-content: center;
  align-items: center;
  padding: 1px 6px;
  display: none;
  background: #c80000; }

.error-bubble-hidden {
  display: none; }

* {
  draggable: false;
  pointer-events: painted;
  user-drag: none;
  user-select: none;
  -moz-user-select: false;
  -webkit-user-drag: none;
  -webkit-user-select: none; }
